<ion-header>
  <ion-toolbar>
    <ion-title>用户登录</ion-title>
  </ion-toolbar>
</ion-header>

<!-- https://ionicframework.com/docs/api/content#css-custom-properties -->
<ion-content
  style="--padding-start: 20px; --padding-end: 20px; --padding-top: 20px"
>
  <ion-card>
    <ion-item>
      <ion-label>用户名:</ion-label>
      <ion-input [(ngModel)]="uname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>密&nbsp;&nbsp;&nbsp;码:</ion-label>
      <ion-input type="password" [(ngModel)]="upwd"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button expand="block" (click)="doLogin()"> 登录 </ion-button>

  <h4>其它方式登录:</h4>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-button>
          <ion-icon name="logo-alipay"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success">
          <ion-icon name="logo-wechat"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary">
          <ion-icon name="logo-nodejs"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon name="logo-skype"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark">
          <ion-icon name="logo-angular"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
