<ion-header>
  <ion-toolbar>
    <img
      src="http://101.96.128.94:9999/img/header/logo.png"
      slot="start"
      alt=""
    />
    <ion-searchbar placeholder="商品名"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="res">
  <ion-slides
    pager
    [options]="{loop:true, autoplay:{disableOnInteraction: false}}"
  >
    <ion-slide *ngFor="let item of res.carouselItems">
      <img src="http://101.96.128.94:9999/{{item.img}}" alt="" />
    </ion-slide>
  </ion-slides>

  <!-- 首页推荐 -->
  <ion-item>
    <ion-icon name="desktop-outline" slot="start"></ion-icon>
    <ion-label>首页推荐/1F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.recommendedItems">
        <ion-card>
          <img
            src="http://101.96.128.94:9999/{{item.pic}}"
            alt=""
            width="100%"
          />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.details}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="primary">¥{{item.price}}</ion-label>
            <br />
            <ion-button>查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- 2 最新上架 -->
  <ion-item>
    <ion-icon name="desktop-outline" slot="start"></ion-icon>
    <ion-label>最新上架/2F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.newArrivalItems">
        <ion-card>
          <img
            src="http://101.96.128.94:9999/{{item.pic}}"
            alt=""
            width="100%"
          />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.details}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="primary">¥{{item.price}}</ion-label>
            <br />
            <ion-button>查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- 3 热销单品 -->
  <ion-item>
    <ion-icon name="desktop-outline" slot="start"></ion-icon>
    <ion-label>热销单品/3F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.topSaleItems">
        <ion-card>
          <img
            src="http://101.96.128.94:9999/{{item.pic}}"
            alt=""
            width="100%"
          />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.details}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="primary">¥{{item.price}}</ion-label>
            <br />
            <ion-button>查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row style="font-size: 3.5rem; text-align: center">
      <ion-col size="3">
        <ion-icon name="subway" color="success"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <ion-icon name="umbrella" color="warning"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <ion-icon name="woman" color="tertiary"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <ion-icon name="walk" color="medium"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
